<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockXing.Properties.Settings.StockConnectionString"
            connectionString="Data Source=192.168.0.3;Initial Catalog=Stock;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="StockXing.Properties.Settings.StockConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>